h1{
    text-align: left;
    font-family:'Indie Flower', cursive; ;
    font-weight: bolder;
    color: rgb(235, 64, 52);

}
/* h4{

    top: 400px;
    position: absolute;
    bottom: 700px;
    left: 30px;
   
} */
.pizza{
    position: relative;
}
.picturewrite{
    position: absolute;
    left: 15px;
    bottom: 100px;
}

p{
    font-style: italic;
}


#pancake img{
    margin-right:90px ;
    margin-left: 90px;
}
a:hover{
    color: crimson;
    font-size: 20px;
}
a:visited{
    color: green;
}